caption {
	font-weight: bold;
	font-size: 1.1em;
}

.details-control {
	text-align:center;
    cursor: pointer;
}

.image-table td {
	text-align: center;
}

.image-detail-table td {
	text-align: center;
}

.iButton {
	cursor: pointer;
}

.full-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popover-definition {
	max-width: 600px;
	width: auto;
}

.at-table td {
	white-space: nowrap;
}
