caption {
	font-weight: bold;
	font-size: 1.1em;
}

.details-control {
	text-align:center;
    cursor: pointer;
}

.image-table td {
	text-align: center;
}

.image-detail-table td {
	text-align: center;
}

.full-image {
    display: block;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
}

.modal.modal-wide .modal-dialog {
		width: 70%;
		margin-left: -35%;
		left: 50%;
}

.modal-wide .modal-body {
		overflow-y: auto;
}

.thumbnail {
	cursor: pointer;
	display: inline-block;
	width: 160px;
	height: auto;
}

.popover-definition {
	max-width: 600px;
	width: auto;
}

.at-table td {
	white-space: nowrap;
}
